# API
# base URL for backend API requests

# development (backend runs locally on default port 3000)
VITE_API_BASE_URL=http://localhost:3000

# production (set to deployed backend API URL)
# example:
# VITE_API_BASE_URL=https://api.lunailstudio.com

#.env stash
VITE_API_BASE_URL=https://api.lunailstudio.com # for prod
VITE_API_BASE_URL=http://localhost:3000 # for dev